* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    height: 300px;
    background: url(/img/sky.jpg) top/cover no-repeat fixed;
}

header h1 {
    top: -120px;
    left: -50%;
    position: absolute;
    font-family: serif;
    font-style: italic;
    font-size: 7rem;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.h1Fly {
    animation: h1Fly 2s ease-in-out forwards;
}

@keyframes h1Fly {
    from {
        top: -120px;
        left: -50%;
    }

    to {
        top: 60px;
        left: 18%;
    }
}

/* Навигация-меню слева */
nav {
    position: relative;
    max-width: fit-content;
    height: 700px;
    padding-top: 20px;
    transform: translateX(-135px);
    background: #fefcdf78;
    font-size: 1.1rem;
    margin-top: 30px;
    padding: 0;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    transition: 1s;
    animation: leftMenuFly 5s ease-in-out;
}

nav::after {
    content: 'menu';
    background: #c3eaf89f;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 10px 0;
    width: 700px;
    position: absolute;
    left: 145px;
    top: 700px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    /* background-color: #90c8f79a; */
    margin: 20px 0;
    transition: 1s;
}

nav ul a {
    text-decoration: none;
    color: rgb(40, 65, 91);
    padding: 20px;
}

nav ul a {
    display: block;
}

nav ul a:hover {
    background-color: #b0bef4b6;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 16px #88baf38d;
    transition: 0.8s;
}

nav:hover {
    transform: translateX(-1px);
    transition: 1s;
}

@keyframes leftMenuFly {
    from {
        transform: translateX(-280px);
    }

    to {
        transform: translateX(-135px);
    }
}

/* Все кнопки верхнего меню */
.topMenu {
    /* max-width: fit-content; */
    position: absolute;
    bottom: 0%;
    display: flex;
    gap: 1px;
    /* top: 253px; */
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Заголовок кнопки */
.topMenuButton {
    display: block;
    /* width: 200px; */
    flex: 1;
    background: #dfeffe78;
    padding: 10px 25px;
    border: 3px solid #dfeffe;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 0 0 20px whitesmoke;
    text-shadow: 2px 2px 2px rgba(185, 206, 224, 0.4);
    /* color: #fff; */
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 
                 0px 8px 13px rgba(0, 0, 0, 0.1), 
                 0px 18px 23px rgba(0, 0, 0, 0.1); */

}

a.topMenuButton {
    text-decoration: none;
    color: rgb(40, 65, 91);
    /* color: #fff; */
    padding: 10px 25px;
}

.topMenuButton:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 1px rgba(56, 128, 205, 0.893) inset;
}


/* Содержимое вкладки */
.content {
    margin-left: 200px;
    font-family: sans-serif;
    border: 2px solid #dfeffe;
    box-shadow: 0 20px 30px rgb(134, 134, 134);
    border-top: none;
    padding: 50px;
    margin-top: -732px;
}

.content h1 {
    margin: 0;
    padding-top: 50px;
    font-size: 2rem;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(185, 206, 224, 0.4);
}

.blockList {
    padding: 60px;
}

.blockList h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.blockList>div {
    background: rgba(205, 241, 253, 0.729);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    text-align: justify;
}

.article,
.recipe,
.postPage {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    text-align: justify;
}

.article img,
.recipe img,
.postPage img {
    float: left;
    margin: 20px;
}

.article p,
.recipe p,
.postPage p {
    margin-top: 10px;
    /* text-indent: 30px; */
}

footer {
    margin-left: 200px;
    padding: 20px;
    background: rgba(123, 166, 194, 0.797);
    height: 200px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    border-radius: 0 0 0 15px;
}

.currentLink {
    background-color: #ffffff;
}

.post a {
    text-decoration: underline;
    color: blue;
}

.postPage img {
    width: 200px;
}

/* .postPage {
    
} */


.lk_link_button {
    position: absolute;
    top: 10%;
    right: 5%;
    border: 3px solid #dfeffe;
    border-radius: 10px;
}

.lk_entrance {
    margin-left: 1400px;
}

.lk_entrance input,
.lk_entrance button {
    width: 200px;
    display: block;
    border: 2px solid rgb(52, 50, 50);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.lk_entrance button {
    background-color: rgb(100, 158, 206);
    font-size: 22px;
    font-weight: 600;
}

.lk_h1 {
    display: inline-block;
}

.post_create_button {
    display: inline-block;
    background-color: rgb(100, 158, 206);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(211, 205, 205);
}

.logout_button {
    position: absolute;
    top: 100px;
    right: 5%;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(100, 158, 206);
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 20px whitesmoke;
    transition: background-color 0.3s ease;
}

.logout_button:hover {
    background-color: #c82333;
    color: #fff;
    box-shadow: 0 0 7px 1px rgba(246, 214, 9, 0.893) inset;
}



@media screen and (max-width:1330px) {

    a.topMenuButton {
        padding: 10px;
    }
}


@media screen and (max-width:1250px) {
    header {
        height: 200px;
    }

    header h1 {
        font-size: 5rem;
    }

    @keyframes h1Fly {
        from {
            top: -120px;
            left: -50%;
        }
    
        to {
            top: 40px;
            left: 18%;
        }
    }

    nav {
        display: none;
    }

    .content {
        margin-top: 1px;
        margin-left: 100px;
    }

    .topMenu {
        /* top: 130px; */
        margin-left: 100px;
    }

    footer {
        margin-left: 100px;
    }
}

@media screen and (max-width:1139px) {
    .content {
        margin-left: 10px;
    }

    .topMenu {
        margin-left: 10px;
    }

    footer {
        margin-left: 10px;
    }
}

@media screen and (max-width:1039px) {

    /* header h1 {
        font-size: 5rem;
    } */

    @keyframes h1Fly {
        from {
            top: -120px;
            left: -50%;
        }
    
        to {
            top: 13px;
            left: 13%;
        }
    }

    .topMenu {
        flex-wrap: wrap;
        /* top: 100px; */
    }

    /* .topMenuButton {
        font-size: 1.5rem;
    } */

    a.topMenuButton {
        padding: 10px 50px;
    }
}

@media screen and (max-width:971px) {

    @keyframes h1Fly {
        from {
            top: -120px;
            left: -50%;
        }
    
        to {
            top: 8px;
            left: 5%;
        }
    }

    a.topMenuButton {
        padding: 10px 40px;
    }

    /* .topMenu {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    } */
}


@media screen and (max-width:769px) {

    header h1 {
        font-size: 4rem;
    }

    .topMenu {
        margin-left: 1px;
    }

    .content {
        margin-left: 1px;
    }

    footer {
        margin-left: 1px;
    }

    a.topMenuButton {
        padding: 10px 30px;
    }
}

@media screen and (max-width:671px) {

    header h1 {
        font-size: 3.5rem;
    }

    a.topMenuButton {
        padding: 8px 15px;
    }

}

@media screen and (max-width:600px) {
    .lk_link_button {
        width: 110px;
    }

}