* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
    background: url(/img/mountain3.png) -2% -35%/108% no-repeat;
} */

body {
    background: url('/_ipx/w_1920&q_70&f_webp/img/sky.jpg') top/cover no-repeat;
}

header {
   position: relative;
   height: 750px;
}

header {
    background: url('/_ipx/w_1920&q_70&f_webp/img/mountain3.png') 0% 25%/108% no-repeat;
}

@media screen and (max-width:1366px) {
    body {
        background: url('/_ipx/w_1366&q_70&f_webp/img/sky.jpg') top/cover no-repeat;
    }
    header {
        background: url('/_ipx/w_1366&q_70&f_webp/img/mountain3.png') 0% 25%/108% no-repeat;
    }
}
@media screen and (max-width:1047px) {
    body {
        background: url('/_ipx/w_1366&q_70&f_webp/img/sky.jpg') top/cover no-repeat;
    }
    header {
        background: url('/_ipx/w_1366&q_70&f_webp/img/mountain3.png') 0% 0%/108% no-repeat;
    }
}
@media screen and (max-width:960px) {
    body {
        background: url('/_ipx/w_960&q_70&f_webp/img/sky.jpg') top/cover no-repeat;
    }
    header {
        background: url('/_ipx/w_960&q_70&f_webp/img/mountain3.png') 0% 0%/108% no-repeat;
    }
}
@media screen and (max-width:780px) {
    body {
        background: url('/_ipx/w_780&q_70&f_webp/img/sky.jpg') top/cover no-repeat;
    }
    header {
        background: url('/_ipx/w_780&q_70&f_webp/img/mountain3.png') 0% 0%/108% no-repeat;
    }
}
@media screen and (max-width:500px) {
    body {
        background: url('/_ipx/w_500&q_70&f_webp/img/sky.jpg') top/cover no-repeat;
    }
    header {
        background: url('/_ipx/w_500&q_70&f_webp/img/mountain3.png') 0% 0%/108% no-repeat;
    }
}

header h1 {
    top: -120px;
    left: -50%;
    position: absolute;
    font-family: serif;
    font-style: italic;
    font-size: 7rem;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.h1Fly {
    animation: h1Fly 1s 1s ease-in-out forwards;
}

@keyframes h1Fly {
    from {
        top: -120px;
        left: -50%;
    }

    to {
        top: 8px;
        left: 9%;
    }
}

/* Навигация-меню слева */
nav {
    position: relative;
    max-width: fit-content;
    height: 700px;
    padding-top: 20px;
    transform: translateX(-135px);
    background: #fefcdf78;
    font-size: 1.1rem;
    margin-top: 30px;
    padding: 0;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    transition: 1s;
    animation: leftMenuFly 5s ease-in-out;
}

nav::after {
    content: 'menu';
    background: #c3eaf89f;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 10px 0;
    width: 700px;
    position: absolute;
    left: 145px;
    top: 700px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    /* background-color: #90c8f79a; */
    margin: 20px 0;
    transition: 1s;
}

nav ul a {
    text-decoration: none;
    color: rgb(40, 65, 91);
    padding: 20px;
}

nav ul a {
    display: block;
}

nav ul a:hover {
    background-color: #b0bef4b6;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 16px #88baf38d;
    transition: 0.8s;
}

nav:hover {
    transform: translateX(-1px);
    transition: 1s;
}

@keyframes leftMenuFly {
    from {
        transform: translateX(-280px);
    }

    to {
        transform: translateX(-135px);
    }
}

/* Все кнопки верхнего меню */
.topMenu {
    /* max-width: fit-content; */
    position: absolute;
    bottom: 0%;
    display: flex;
    gap: 1px;
    /* padding-top: 553px; */
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Заголовок кнопки */
.topMenuButton {
    display: block;
    flex: 1;
    background: #dfeffe78;
    padding: 20px 25px;
    border: 3px solid #dfeffe;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 0 0 20px whitesmoke;
    text-shadow: 2px 2px 2px rgba(185, 206, 224, 0.4);
    /* color: #fff; */
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 
                 0px 8px 13px rgba(0, 0, 0, 0.1), 
                 0px 18px 23px rgba(0, 0, 0, 0.1); */

}

a.topMenuButton {
    text-decoration: none;
    color: rgb(40, 65, 91);
    padding: 20px 25px;
}

.topMenuButton:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 1px rgba(56, 128, 205, 0.893) inset;
}


/* Содержимое вкладки */
.content {
    margin-left: 200px;
    font-size: 1.2rem;
    font-family: sans-serif;
    border: 2px solid #dfeffe5b;
    box-shadow: 0 20px 30px rgb(134, 134, 134);
    border-top: none;
    padding: 50px;
    margin-top: -732px;
}

.content h1 {
    background-image: linear-gradient(rgba(243, 219, 82, 0.418), #85bff571 10% 80%, rgba(150, 242, 150, 0.555));
    margin-bottom: 30px;
    padding: 20px;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(185, 206, 224, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
}

.blockList {
    padding: 60px;
}

.blockList h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.blockList>div {
    background: rgba(205, 241, 253, 0.963);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    /* text-align: justify; */
}

.post {
    display: flex;
    align-items: center;
    gap: 30px;
}

.post img {
    width: 200px;
    height: auto;
}

.post .postPreview {
    flex: 1;
}

.post a {
    text-decoration: underline;
    color: rgb(36, 36, 168);
}

.article,
.recipe,
.postPage {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    /* text-align: justify; */
}

.article img,
.recipe img,
.postPage img {
    float: left;
    margin: 20px;
}

.postPage img {
    width: 400px;
}

.postPage img[src*="img-apple"] {
    width: 19.2px;
    margin: unset;
    float: unset;
}

.article p,
.recipe p,
.postPage p {
    margin-top: 20px;
    /* text-indent: 30px; */
}

footer {
    margin-left: 200px;
    padding: 20px;
    background: rgba(123, 166, 194, 0.797);
    height: 200px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
    border-radius: 0 0 0 15px;
}




/* .postPage {
    
} */

.authorPost {
    /* max-width: fit-content; */
    background-image: linear-gradient(#2e9affad, #f498ae9d);
    text-align: right;
    padding: 5px;
    border-radius: 5px;
}

/* Кнопка Личный кабинет (справа вверху) */
.lk_link_button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 210px;
    background: #dfeffe78;
    padding: 10px;
    border: 3px solid #dfeffe;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 0 0 20px whitesmoke;
    text-shadow: 2px 2px 2px rgba(185, 206, 224, 0.4);
}

a.lk_link_button {
    text-decoration: none;
    color: rgb(40, 65, 91);
    padding: 10px;
}

.lk_link_button:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 1px rgba(56, 128, 205, 0.893) inset;
}

.lk_entrance {
    margin-left: 1400px;
}

.lk_entrance input,
.lk_entrance button {
    width: 200px;
    display: block;
    border: 2px solid rgb(52, 50, 50);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.lk_entrance button {
    background-color: rgb(100, 158, 206);
    font-size: 22px;
    font-weight: 600;
}

.lk_h1 {
    display: inline-block;
    vertical-align: middle;
}

.nickname {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    max-width: fit-content;
    background-image: linear-gradient(#2e9aff6e, #f498ae6c);
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 20px;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
}

.nickname button {
    border: 1px solid rgb(148, 144, 144);
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 20px rgb(134, 134, 134); */
    box-shadow: 0 0 20px whitesmoke;

}

.nickname button:hover {
    background-color: rgb(138, 189, 248);
    box-shadow: 5px 5px 10px rgb(138, 189, 248);
}

.nickname button:active {
    transform: translate(3px, 3px);
}

.post_create_button, .approveButton {
    display: inline-block;
    background-color: rgb(100, 158, 206);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(211, 205, 205);
}

.post_create_button:hover, .approveButton:hover {
    background-color: rgba(67, 173, 235, 0.918);
    box-shadow: 5px 5px 10px rgb(138, 189, 248);
}

.post_create_button:active, .approveButton:active {
    transform: translate(3px, 3px);
}

.myPublications {
    background-image: linear-gradient(#2e9aff6e, #f498ae6c); 
    margin-top: 50px; 
    padding: 20px;
    font-size: 28px; 
    text-align: center; 
    font-style: italic;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
}

.logout_button {
    position: absolute;
    top: 65px;
    right: 10px;
    width: 210px;
    background: #dfeffe78;
    color: rgb(40, 65, 91);
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #dfeffe;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;    
    text-shadow: 2px 2px 2px rgba(185, 206, 224, 0.4);
    box-shadow: 0 0 20px whitesmoke;
    transition: 0.5s;
}

.logout_button:hover {
    background-color: #ebc108d3;
    color: #fff;
    box-shadow: 0 0 7px 1px rgba(246, 214, 9, 0.893) inset;
    transition: 0.3s;
}

.comments {
    padding: 20px;
    border: solid 1px gray;
    border-radius: 20px;
}

.reply {
    padding: 5px;
    margin-left: 5px;
    border: solid 1px gray;
    border-radius: 8px;
}

.reply:hover {
    background-color: lightblue;
}

.enterComment {
    width: 100%;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: solid 1px gray;
    border-radius: 8px;
}

#menu {
    transform: translateY(-100px);
}

.currentLink {
    background-color: #ffffff;
}

.search {
    text-align: right;
    margin-bottom: 20px;
}


@media screen and (max-width:1330px) {

    a.topMenuButton {
        padding: 20px;
    }
}


@media screen and (max-width:1250px) {

    header h1 {
        font-size: 5rem;
    }

    @keyframes h1Fly {
        from {
            top: -120px;
            left: -50%;
        }
    
        to {
            top: 40px;
            left: 10%;
        }
    }

    nav {
        display: none;
    }

    .content {
        margin-top: 1px;
        margin-left: 100px;
    }

    .topMenu {
        margin-left: 100px;
    }

    footer {
        margin-left: 100px;
    }
}

@media screen and (max-width:1139px) {

    .content {
        margin-left: 10px;
    }

    .topMenu {
        margin-left: 10px;
    }

    footer {
        margin-left: 10px;
    }
}

@media screen and (max-width:1047px) {

    @keyframes h1Fly {
        from {
            top: -120px;
            left: -50%;
        }
    
        to {
            top: 13px;
            left: 13%;
        }
    }

    header {
        height: 650px;
    }

    .content {
        padding: 10px;
    }

    .topMenu {
        flex-wrap: wrap;
    }

    a.topMenuButton {
        padding: 10px 50px;
    }

    .blockList {
        padding: 20px;
    }
}

@media screen and (max-width:971px) {
    
    @keyframes h1Fly {
        from {
            top: -120px;
            left: -50%;
        }
    
        to {
            top: 8px;
            left: 5%;
        }
    }

    header {
        height: 600px;
    }

    a.topMenuButton {
        padding: 10px 40px;
    }

    /* .topMenu {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    } */
}


@media screen and (max-width:840px) {

    header {
        height: 500px;
    }

    header h1 {
        font-size: 4rem;
    }

    .topMenu {
        margin-left: 1px;
    }

    .content {
        margin-left: 1px;
    }

    footer {
        margin-left: 1px;
    }

    a.topMenuButton {
        padding: 10px 30px;
    }
}

@media screen and (max-width:691px) {

    header {
        height: 450px;
    }

    header h1 {
        font-size: 3.5rem;
    }

    a.topMenuButton {
        padding: 8px 15px;
    }

    .content h1 {
        font-size: 1.5rem;
    }

}

@media screen and (max-width:637px) {

    header {
        height: 400px;
    }

    .lk_link_button {
        width: 110px;
    }

    .logout_button {
        width: 110px;
        top: 90px;
    }

    .post {
        flex-direction: column;
    }

    .post img {
        width: 100%;
    }

}

@media screen and (max-width:551px) {

    header {
        height: 350px;
    }

    a.topMenuButton {
        padding: 7px;
    }

    .lk_link_button {
        padding: 7px;
    }

    .logout_button {
        padding: 7px;
    }

    .blockList {
        padding: 10px;
    }
}

@media screen and (max-width:501px) {

    header {
        height: 300px;
    }

    header h1 {
        font-size: 3rem;
    }

    .topMenuButton {
        font-size: 1.2rem;
    }

    .lk_link_button {
        font-size: 1.2rem;
    }

    .logout_button {
        font-size: 1.2rem;
    }

    .content {
        padding: 5px;
    }

}

@media screen and (max-width:424px) {

    a.topMenuButton {
        padding: 5px;
    }

    .lk_link_button {
        top: 5px;
        right: 5px;
        width: 100px;
        padding: 5px;
    }

    .logout_button {
        top: 80px;
        right: 5px;
        width: 100px;
        padding: 5px;
    }

    .content {
        padding: 1px;
    }

}

@media screen and (max-width:414px) {

    header {
        height: 360px;
    }
}

@media screen and (max-width:404px) {

    header {
        height: 362px;
    }

    a.topMenuButton {
        padding: 5px 20px;
    }
}

@media screen and (max-width:401px) {

    header {
        height: 360px;
    }

    header h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:399px) {

    header {
        height: 321px;
    }

    a.topMenuButton {
        padding: 4px;
    }
}

@media screen and (max-width:363px) {

    header {
        height: 326px;
    }

    @keyframes h1Fly {
        from {
            top: -120px;
            left: -50%;
        }
    
        to {
            top: 5px;
            left: 4%;
        }
    }

    @media screen and (max-width:345px) {

        header {
            height: 320px;
        }

        header h1 {
            font-size: 1.8rem;
        }

        @keyframes h1Fly {
            from {
                top: -120px;
                left: -50%;
            }
        
            to {
                top: 2px;
                left: 4%;
            }
        }

        a.topMenuButton {
             padding: 5px 10px;
        }

        .lk_link_button {
            width: 80px;
            padding: 3px;
            font-size: 1rem;
        }

        .logout_button {
            top: 72px;
            width: 80px;
            padding: 3px;
            font-size: 1rem;
        }
    }

}