.tt button {
    background-color: rgb(207, 244, 230);
    padding: 10px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 3px 3px 10px rgba(134, 134, 134, 0.781);
    /* box-shadow: 0 0 16px #acc1d8a6; */
}

.tt button:hover {
    box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.76) inset;
}

.tt button:active {
    transform: translate(3px, 3px);
}

.tiptap {
    background-color: rgb(201, 200, 200);
    min-height: 500px;
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px 20px;
}

.tiptap p {
    color: green;
}

.tiptap img {
    width: 200px;
}

.tiptapImg {
    margin-top: 200px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 10px;
}

.label_rubric_create {
    font-weight: 600;
    padding: 10px 5px 10px 20px;
    vertical-align: calc(-10px);
}

.rubric_create {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

.myEditor {
    width: 500px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

.uploadPicBut {
    padding: 10px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(134, 134, 134, 0.781);

}

.uploadPicBut:hover {
    box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.76) inset;
}

.uploadPicBut:active {
    transform: translate(3px, 3px);
}

.deletPostButtom {
    display: block;
    margin-top: 150px;
    transition: 0.5s;
    box-shadow: 3px 3px 10px rgba(134, 134, 134, 0.781);

}

.deletPostButtom:hover {
    background: rosybrown;
    transform: scale(1.1);
    transition: 0.5s;
}

.bubble-menu {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 0.7rem;
  box-shadow: var(--shadow);
  display: flex;
  padding: 0.2rem;
}

.bubble-menu button {
    background-color: white;
}
.bubble-menu button:hover {
    background-color: var(--gray-3);
}

.bubble-menu button.is-active {
    background-color: var(--purple);
}
.bubble-menu button.is-active:hover {
background-color: var(--purple-contrast);
}


.floating-menu {
  display: flex;
  background-color: var(--gray-3);
  padding: 0.1rem;
  border-radius: 0.5rem;
}
.floating-menu button {
    background-color: unset;
    padding: 0.275rem 0.425rem;
    border-radius: 0.3rem;
}
.floating-menu button:hover {
      background-color: var(--gray-3);
    }

.floating-menu button.is-active {
      background-color: var(--white);
      color: var(--purple);
}
.floating-menu button.is-active:hover {
        color: var(--purple-contrast);
      }